<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="Team127DBConnectionString" connectionString="Data Source=buscissql\cisweb;Initial Catalog=Team127DB;Persist Security Info=True;User ID=robot;Password=nets"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
