/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2017, 6:17:23 PM
    Author     : tsprad
*/
@charset "utf-8";


html 
{
   height: 100%;
   font-size: 25px;
}

body {
   min-height: 100%;
   width: 100%;
   background-image: url("backgroundimg4.jpg");
 
   background-size: cover;
   background-repeat: no-repeat;
   font-family: Calibri;
   margin-left: auto;
   margin-right: auto;
   float: none;
  
}

header {
    display: block;
    

}
h1{
    text-align: center;
    color:white;
    box-shadow: rgba(181, 27, 27, 0.9) 20px 0px 40px, rgb(51, 51, 51) -20px 20px 40px;
}

h2#result
{
     text-align: center;
    color:white;
}

h4#usr{
    text-align: center;
    color:white;
    
}

img#headerimg {
    display: block; 
   margin-left: auto;
   margin-right: auto;
   float: none;
   height: 50%;
   width: 50%;
   
}
    


nav {
   
   width: 100%;
   margin: 0 auto;
   float: none;
}

nav ul
{
  
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;   
    
}

nav ul li
{
    display:inline;   
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
}

nav ul li a:hover{
    color: green;
}



footer {
    color: white;  
    text-align: center;
    font-family: Segoefo, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 0.8em;
    border-top: 7px outset rgba(117, 20, 20, 0.81);
    margin: 0;
    padding: 0;
    margin-top: 7%;
    border-top: 3px outset rgba(117, 20, 20, 0.81);
    clear: both;
    padding-bottom: 10px;
    
    position: absolute;
    right: 0;
    bottom:0;
    left:0;
    //margin-top: 4%;
    //padding-bottom: 10px;
    //clear: both;
}

#search {
    
  
  position: relative;
  top:80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  
  width: 700px;
  height: 70px; 
  background-color: brown;
  color: white;
  opacity: 0.78;
  text-align: center;
 border-radius: 20px; 
}

#search div input[type="text"]{
    height: 70px;
    width: 500px;
    font-size: 30px;
    border-radius: 20px; 
  //  margin-top:30%;
}

#search input[type="submit"]{
    height:30px;
}